<div class="top-bar" data-top-bar>
  <%- include('./icon_btn', {icon: 'chevron_left', variant: 'filled-tonal', dataAttr: 'data-back-btn' }) %>
  <%- include('./icon_btn', {icon: 'chevron_right', variant: 'filled-tonal', dataAttr: 'data-back-btn' }) %>
  <%- include('./search_bar') %>
</div>