<footer class="footer section">
  <div class="has-separator">
    <a href="https://github.com/ravenbbs" target="_blank" class="social-link">
      GitHub
    </a>
    <span class="separator"></span>

    <a href="https://www.linkedin.com/in/julio-condor/" target="_blank" class="social-link">
      LinkedIn
    </a>
    <!-- <span class="separator"></span>

    <a href="https://github.com/ravenbbs" target="_blank" class="social-link">
      GitHub
    </a>
    <span class="separator"></span>

    <a href="https://github.com/ravenbbs" target="_blank" class="social-link">
      GitHub
    </a>
    <span class="separator"></span> -->
  </div>

  <p class="footer-text body-medium">
    &copy; 2024 Soundfy - Developed by Julio Condor
  </p>
</footer>
