<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--  Meta tags -->
    <title>Page not Found | Soundfy</title>
    <meta name="title" content="Page not Found  | Soundfy" />
    <meta
      name="description"
      content="Explora un universo de música con Soundfy, una plataforma de streaming que fusiona la riqueza del sonido con la comodidad de la nube. Descubre nuevas melodías, crea tus listas de reproducción personalizadas y sumérgete en una experiencia auditiva única. Soundfy: Donde el sonido se encuentra con la innovación en la nube."
    />
    <!--  favicon -->
    <link rel="shortcut icon" href="/images/favicon.svg" type="image/x-icon" />
    <!--  Google fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;900&display=swap"
      rel="stylesheet"
    />

    <!-- custom css-->
    <link rel="stylesheet" href="/css/404.css">
  </head>
  <body>

    <article class="error-page">
      <img src="" alt="" class="logo">
      <div class="">
        <h2 class="title display-small">Pagina no encontrada!!</h2>
        <p class="text body-large">
          No se encontró lo que estas buscando.
        </p>
      </div>
    </article>

  </body>
</html>
