<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layouts/head', {title: 'Home | Soundfy'}) %>
  </head>
  <body>
    <article class="page custom-scrollbar">
      <!-- Top app bar -->
      <%- include('../partials/top_bar', locals.currentProfile) %>

      <!-- Bottom nav  -->
      <%- include('../partials/bottom_nav', { currentRoute: '/' }) %>
    </article>
  </body>
</html>
